*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Garamond, "Times New Roman", Times, serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover; /* Använder detta för att säkerställa att bilden täcker hela bakgrunden */
  background-repeat: no-repeat; /* Förhindra att bilden upprepas */
  background-attachment: fixed;
  background-position: center; /* Här gör jag att bakgrundsbilden blir i mitten oavsett strl */
}

.container {
  width: 800px;
  max-width: 80%; /* Tar 80% av skärmen */
  background-color: white; /* Färg inuti container */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

/* Stylar mina knappar */
.btn {
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.col1 {
  color: goldenrod;
}

.col2 {
  color: white;
}

.place {
  display: inline-block;
}

.col3 {
  color: black;
}

.font {
  font-family: Garamond;
}

h1 {
  color: goldenrod;
  font-size: 3.6rem;
  text-shadow: 2px 2px 4px black;
  margin-top: 5rem;
}

/* Fixar så att den jäkla headern lägger sig ovanför container diven */
.header {
  position: relative;
  padding: 10px; /* Anpassa efter dina behov */
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#inventory {
  color: black;
  position: relative;
  text-align: right;
  position: absolute;
  top: 0;
  left: 85%;
  transform: translateX(-50%);
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 4px goldenrod;
}
